<h1>You just added a new contact</h1>
<ol>
  <li>Name: @Model.GetName()</li>
  <li>Phone #: @Model.GetPhoneNumber()</li>
  <li>Address: @Model.GetAddress()</li>
</ol>

<p><a href="/">View all contacts</a></p>
